body .main {
	position: static;
}

.main .brand-elements {
	margin-top: 100px;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}

.main video {
	z-index: auto;
	left: 0;
	bottom: 0;
	min-width: auto;
	min-height: auto;
}

.brand-elements #qp-logo {
	height: 80px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.brand-elements .logo.cursive {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
}

body .main .content {
	margin-bottom: 100px;
}

body .main .motto {
	margin-top: 0;	
	min-height: 80px;
}

.feature {
	height: 400px;
	padding: 0;
}

.feature-text {
	background-color: white;
	color: lightgray;
	padding: 0 5%;
	position: relative;
	font-family: "Helvetica Neue Light";
	font-size: 14px;
}

.feature-text p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.feature-illu {
	background-color: darkgray;
}

.feature-text, .feature-illu {
	height: 100%;
}